date format:  RFC 2616 vs. RFC 3339

Is there a particular reason why RFC 2616 was recommended over RFC 3339? I understand the differences between the two; however, there's a strong community believing that ISO 8601 derived formats (RFC 3339 being one) should be the only format used. It would also promote wire level interoperability with other stacks, which at this time seems to predominantly favour 3339...

There is no particular reason. We have seen some buzz around that ISO format and we can still easily change it to RFC 3339. Would that be better?

https://github.com/raml-org/raml-spec/issues/15

I personally consider it would be much better. I also have to disclose that I am heavily influenced by current (large scale) deployments of RAML that we are involved in, the tooling we've built, and our interoperability requirements (XSD to RAML/JSON Schema - XSD is based on ISO8601; RAML to and from Swagger 2.0).

Would it be better to change it to ISO8601 or RFC3339? (sorry if that is the same, but I understand it is not. RFC3339 is just a kind of ISO8601, right?)

You are correct: RFC 3339 is a "simplification" of ISO 8601. My vote goes to RFC 3339.

+1

> On Nov 28, 2015, at 11:34 AM, gardea <notifications@github.com> wrote:
> 
> You are correct: RFC 3339 is a "simplification" of ISO 8601. My vote goes to RFC 3339.
> 
> —
> Reply to this email directly or view it on GitHub.
> 


ok cool - accepted. we will change it to RFC 3339

RFC3339 is great, for *timestamps*.  However, it does not cover date-only, time-only, or datetime-without-timezone-offset values.  Those are all covered by ISO 8601.  RAML should specify the ISO8601 *extended format* in general, and can further clarify conformance to RFC3339 for timestamps.

This is relevant, considering #105.

And RFC 822 / 2816 / 2822, et. al. is definitely the wrong choice.  All modern APIs are gravitating to ISO8601 / RFC3339, for many good reasons.

We cannot just change to RFC3339 without giving some thought to current users of RAML 0.8 and moreover to users of HTTP :-)

For example, a user of RAML 0.8 that had described a header field as being of type `date` upgrades to 1.0, and now what? How do they migrate? Their spec is now valid 1.0 but doesn't describe their API, as the header values are now invalid. What can they do?

Can they describe their existing API in 1.0? Not well, because our date type has no standard way (`format` only applies to numbers, at this moment). They could use a string with a regexp, perhaps, and they could use a string with annotations, but this is clearly working against the grain.

Can they change their API? Probably not, because 1) their clients and their developers don't want to do it without a good reason, and 2) the HTTP standard dictates that standard datetime header fields have the format in RFC2616 (the HTTP standard) which we chose in RAML 0.8. 

Staying with the RFC2616 format as the only one isn't any better, e.g. because of JSON Schema and XML Schema compatibility -- not that RAML types have to match them, but they need to accommodate wide swaths of data that in the past has been validated by JSON and XML Schema. 

For the record, HTTP headers (the one place I know of where HTTP makes a comment on datetime formats, via RFC2616) must be in RFC2616 format; XML Schema's dateTime type is in one specific subset of ISO8601, and JSON Schema uses the RFC3339 profile of ISO8601. None of them allows the full ISO8601. Our goal with RAML types is to have the same way of specifying bodies as well as query parameters, headers, and URI parameters, so we must be cognizant of all these.

It seems like we should consider allowing the `format` facet to apply to dates too, with a couple of built-in recognized values (`rfc2616` and `rfc3339`, where the latter is the default), and a way to roll your own, e.g. other values would be allowed for `format` but would have no pre-defined meaning, and/or specifying a regexp via a `pattern` (and `format` and `pattern` would be mutually exclusive). The resulting construction would be along the lines of:

```yaml
created:
  type: date
  format: rfc3339   # The default, so optional to specify it
last-modified:
  type: date
  format: rfc2616   # For HTTP headers, e.g.
revised:
  type: date
  format: millis   # It's a date, but its format is only specified by processors who know what this is
received:
  type: date
  format: iso8601   # It's again a date, but we don't enforce processors must support all of ISO8601
accepted:
  type: date
  pattern: "dddd-dd-dd"  # It's a date, whose representation matches this regexp - no information about the meaning of the matched pattern
```

It is interesting if we consider the following: RAML 0.8 has the following comment:

> In the API definition, specify the non-standard HTTP headers by using the headers property.

Many took it as an indication that standard HTTP headers are outside of RAML's scope. If a standard header would in fact still be documented using RAML, one would really have no choice but to comply with whatever serialization mechanisms described by the corresponding RFC. An example might be the standard Date header. A format field should be superfluous for this header, ignored or flagged if the format selected by the user contradicts that allowed by the spec.

I honestly doubt that this would have any serious side effect for any of the RAML 0.8 adopters; maybe due to the fact that I cannot find any standard stating that user defined headers representing a date would all need to follow a specific (data serialization) format. 

Perhaps an alternative might be to provide different defaults for data serialization formats, depending on the target: http headers, query parameters in query string, and/or body; would this be closer to the spirit of the principle of least astonishment?





Good observation, as usual. It's absolutely true that we've tried, in RAML 0.8 and 1.0, to accommodate the fact that certain common HTTP headers are likely going to be there whether you put them in the spec or not. So the spec is meant to concentrate on those other ones. But we should also accommodate those users who wanted to truly specify (and control) all the headers they rely on, e.g. if they rely on caching headers they should be able to specify them. 

It feels like even more complexity to have different formats for different targets, plus even for one target, say headers, I don't know that I can predict whether users will want just one format. We can pick sensible defaults and hopefully won't be far off, but we also need reasonable coverage of non-defaults.

Here's an improved proposal: the `format` facet, which is optional, can have only 3 values: `rfc3339` which is the default, `rfc2616`, and `other`. We reserve the right to add more in the future. If you specify `other`, then you may also specify `pattern` (and if you specify `pattern` then you must either not specify `format` at all or specify `format: other`); `pattern` is a regexp that the value must match. Processors must understand `rfc3339` and `rfc2616` and of course they must match patterns. If no pattern is specified for format `other` then all string values are valid. Note that a processor may or may not be able to turn values into dates when `format: other`, but that's all the server is promising to accept/return. Annotations may be used to aid here, as long as both client and server understand the annotations.

Note that I also added a similar proposal for booleans, https://github.com/raml-org/raml-spec/issues/220 . 

The remaining question in my mind is whether anything else should be added t the list of format for dates. ISO8601 is a bear to force processors to understand, so I'm not that enthusiastic to do it, but there's certainly a case to be made for allowing "just date" and "just time" as options, for example.

I find this discussion interesting too: http://codeofmatt.com/2015/06/17/javascript-date-parsing-changes-in-es6/

@mj1856 would love to hear how you suggest we proceed here practically, given your experience, e.g. in analyzing how ES6 has been thinking about this (http://codeofmatt.com/2015/06/17/javascript-date-parsing-changes-in-es6/).

Sure, but give me some time to digest this.  Just learning about raml. :)

Let me ask this - in most libraries and specs, a 0.x version number is a signal to expect breaking changes before a 1.0 release.  Is that the case here as well?

Yes, we can break things, and have in some cases. It is important to give
people a way forward, though, and all else being equal minimize the breaks.
Given the traction RAML 0.8 has gotten, we definitely want to be thoughtful
here. We also don't want to carry around dinosaurs just because we had them
before, and we want to leave things open to future expansion without
breaking 1.0 if possible. Lots of wants! Now it's a question of balance.

On Mon, Jan 11, 2016 at 9:02 AM, Matt Johnson <notifications@github.com>
wrote:

> Sure, but give me some time to digest this. Just learning about raml. :)
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/raml-org/raml-spec/issues/202#issuecomment-170618702>.
>


/me votes for rfc3339.
At this point, however, the spec says rfc3339 in one place, and rfc2616 in the other.

That is true - we will solve that with our next update. Thanks for making us aware.

Still not quite up to speed on everything RAML, but reviewing the proposal above for supplying `type` and `format` facets seems reasonable.

However, I'm not as keen about the `pattern` facet.  That seems like a can of worms.  From my experiences working on [moment.js](http://momentjs.com) and other libraries, I can tell you that getting developers to agree on a set of common format specifiers is  quite challenging.  Every language has a slightly different set (ex. `yyyy` vs `YYYY`).   Just specifying that `dddd-dd-dd` are regex matches where `d` is any digit seems insufficient, as one might ask whether `dd/dd/dd` actually means `mm/dd/yy`, `dd/mm/yy`, or `yy/mm/dd`.

I also recommend being very clear on separation of types.  Contextually, a date and a date-time are quite different.  I've seen entirely too many APIs that pass around `2016-01-01T00:00:00` or worse `2016-01-01T00:00:00Z` when they actually mean `2016-01-01`. I recommend at least the following separations:

 - `date` - a date-only value.
 - `time` - a time-only value.
 - `datetime` - a date-and-time value, without time zone offset.
 - `timestamp` - a date-and-time-and-offset value.  Offset is required, can be `Z` or `-08:00` forms under ISO8601 and RFC3339, or `GMT` under RFC2616.  You *might* consider supporting also the `GMT +0530` form, or the handful of abbreviations other than GMT allowed under RFC2822 (though technically they are removed under RFC2616, they are still seen in the wild).

Note that of these, the first three can *only* be specified under ISO8601, as none of the aforementioned RFCs deal with anything other than timestamps.   Again, the common misconception that should be avoided here is the idea that all dates and times are timestamps.  They're not.  There are plenty of use cases for other forms.

WRT the ES6 changes - alas, the spec authors have decided to align with the current flawed implementations, rather than stick to ISO8601 conformance.  The effect is that `date` will be interpreted as UTC while `datetime` will be interpreted in local time zone (using the above terminology).  ISO8601 conformance would mean `date` would also be interpreted in the local time zone.   The ES6 spec also says nothing about `time` values either way, though `timestamp` is handled just fine and has been for awhile now.

Hope that helps guide your decision.  I'll let you guys figure out the RAML specifics.  Thanks.






Thanks for this very clear explanation.
I like in particular the semantic clarity of the types.
When you suggest date and time, are you urging to adopt the full range of ISO8601 possibilities for these, eg using a date of 19 to represent the 20th century? And if so, are there libraries commonly available for most languages that incorporate that breadth for serializatiin and deserialization/validation?





On Tue, Jan 19, 2016 at 10:49 AM -0800, "Matt Johnson" <notifications@github.com> wrote:












Still not quite up to speed on everything RAML, but reviewing the proposal above for supplying type and format facets seems reasonable.



However, I'm not as keen about the pattern facet.  That seems like a can of worms.  From my experiences working on moment.js and other libraries, I can tell you that getting developers to agree on a set of common format specifiers is  quite challenging.  Every language has a slightly different set (ex. yyyy vs YYYY).   Just specifying that dddd-dd-dd are regex matches where d is any digit seems insufficient, as one might ask whether dd/dd/dd actually means mm/dd/yy, dd/mm/yy, or yy/mm/dd.



I also recommend being very clear on separation of types.  Contextually, a date and a date-time are quite different.  I've seen entirely too many APIs that pass around 2016-01-01T00:00:00 or worse 2016-01-01T00:00:00Z when they actually mean 2016-01-01. I recommend at least the following separations:



date - a date-only value.

time - a time-only value.

datetime - a date-and-time value, without time zone offset.

timestamp - a date-and-time-and-offset value.  Offset is required, can be Z or -08:00 forms under ISO8601 and RFC3339, or GMT under RFC2616.  You might consider supporting also the GMT +0530 form, or the handful of abbreviations other than GMT allowed under RFC2822 (though technically they are removed under RFC2616, they are still seen in the wild).




Note that of these, the first three can only be specified under ISO8601, as none of the aforementioned RFCs deal with anything other than timestamps.   Again, the common misconception that should be avoided here is the idea that all dates and times are timestamps.  They're not.  There are plenty of use cases for other forms.



WRT the ES6 changes - alas, the spec authors have decided to align with the current flawed implementations, rather than stick to ISO8601 conformance.  The effect is that date will be interpreted as UTC while datetime will be interpreted in local time zone (using the above terminology).  ISO8601 conformance would mean date would also be interpreted in the local time zone.   The ES6 spec also says nothing about time values either way, though timestamp is handled just fine and has been for awhile now.



Hope that helps guide your decision.  I'll let you guys figure out the RAML specifics.  Thanks.



—
Reply to this email directly or view it on GitHub.


  
  










Right - I see the dilemma.  ISO8601 has very many different representations, including basic and extended formats, week-number based formats, time intervals, durations, etc.

I believe your example of `19` as a century marker would fall under "Representations with reduced accuracy" in the ISO8601 spec.  (yes, I own a copy).   I can see that supporting those in something like RAML would be quite challenging - though it's possible some systems would indeed want them.  At a certain point you have to ask how far down the rabbit hole you want to go.  My recommendation would be to only concern RAML with the "Complete representations" section of ISO8601, with an implied (or stated) understanding that either basic or extended forms are acceptable but extended is preferred.

You might consider adding `duration` to the types of fields, since the ISO8601 period/duration format is commonly seen in APIs.  (ex, "P3M" = "three months").   My personal opinion is that the week-number and interval formats are of less priority.  (One can always pass these things in strings.)




@mj1856 I found this description of date & time that we could use a notation as well http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14. What do you think?

Yes, that ABNF works just fine for RFC3339.  You could use portions of that for ABNF of other forms.

@mj1856 so would you agree that this is what we should change to in RAML 1.0? So we would end up having two main date types: `full-date` and `date-time`; and we can describe both by relating back to that specific ABNF. Does that work or do you see anything else we should definitely add?

Can you give an example of each?

You can find examples for `date-time` [here](http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#date.and.time.format.examples) and the first part of each you can take as an example for `full-date`

Let me take a cut at summarizing where things stand.

@mj1856 recommends essentially that we allow for the following 4 types:
```raml
types:
  birthday:
    type: date
    example: 2015-05-23
  lunchtime:
    type: time
    example: 12:30:00
  fireworks:
    type: datetime
    example: 2015-07-04T21:00:00
  created:
    type: timestamp
    example: 2016-02-28T16:41:41.090Z
    format: rfc3339 // the default, so needn't be specified
  If-Modified-Since:
    type: timestamp
    example: Sun, 28 Feb 2016 16:41:41 GMT
    format: rfc2616 // this time it's required as otherwise the example is in an invalid format
```

Note that only the `timestamp` type allows a `format` facet to be specified.

The symmetry and precision are great. Unfortunately the [ABNF construction of RFC 3339](http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14) and [JSON Schema](http://json-schema.org/latest/json-schema-validation.html#anchor108) (and swagger) refer to the UTC timestamp as "date-time" so it would be quite confusing for RAML to have `datetime` allow `2015-07-04T21:00:00` and forbid `2015-07-04T21:00:00Z`. If they were to be interpreted identically (omitting the Z still implies Z) perhaps that would be OK, but that's not the case: from what I'm understanding, without the `Z` the interpretation is likely to be local time. And that brings more confusion: while one would think that the first 3 types would all be interpreted as either all local or all UTC, in fact (as @mj1856 has pointed out in many places) the first is now going to be interpreted as UTC within Ecmascript, while the third will be interpreted as local. What's the logical course of action?

I'm thinking that the API spec needn't have an opinion on whether a date-only or time-only value is to be interpreted as local (to whom, client or server?) vs absolute. If you care, you should use an explicit absolute notation. And similarly, if you don't use a Z or timezone indicator in a date+time type, the API spec should care only about the date and the time but not be opinionated about the offset or lack thereof; maybe there's some semantic reason why you want to convey a date+time that way, eg. to convey an event that happened at a client which may not have knowledge of absolute time. The API spec must make it possible to convey information without implying it knows absolute offset.

So here's one more proposal, which tries to be explicit about what's known and what's not:

```raml
types:
  birthday:
    type: date-only // no implications about time or offset
    example: 2015-05-23
  lunchtime:
    type: time-only // no implications about date or offset
    example: 12:30:00
  fireworks:
    type: datetime-only // no implications about offset
    example: 2015-07-04T21:00:00
  created:
    type: datetime
    example: 2016-02-28T16:41:41.090Z
    format: rfc3339 // the default, so needn't be specified
  If-Modified-Since:
    type: datetime
    example: Sun, 28 Feb 2016 16:41:41 GMT
    format: rfc2616 // this time it's required as otherwise the example is in an invalid format
```

There will be no confusion between the previous (RAML 0.8) `date` and the new `date-only`; indeed the previous `date` becomes `{ type: datetime, format: rfc2616 }`. 

There is consistency with RFC3339 naming and JSON Schema with respect to `datetime`, and no confusion with the `datetime-only` that allows you to interpret lack of offset information in whatever way makes sense.

I could easily see an argument that we should eliminate `datetime` in favor of calling it `timestamp` and achieve even further clarity, vs the consistency with RFC3339 and JSON Schema namings we get by using `datetime` -- I don't feel that strongly but tend towards the consistency.


OK let's keep the proposal above:

- `date-only`:  the "full-date" notation of RFC3339, namely yyyy-mm-dd (no implications about time or timezone-offset)
- `time-only`:  the "partial-time" notation of RFC3339, namely hh:mm:ss[.ff...] (no implications about date or timezone-offset)
- `datetime-only`: combined date-only and time-only with a separator of "T", namely yyyy-mm-ddThh:mm:ss\[.ff...] (no implications about timezone-offset)
- `datetime`: a timestamp, either in the "date-time" notation of RFC3339, if `format` is omitted or is set to `rfc3339`, or in the format defined in RFC2616, if `format` is set to `rfc2616`. 

:+1: 

Thanks @mj1856 that's a meaningful thumbs up coming from you

@usarid; is `format` only allowed if `type: datetime`?

That's correct